*{
    margin: 0;
    box-sizing: border-box;
}
/* 
*******************************************************
                Theme dark / light style
*******************************************************
*/
body.dark-theme{
    --background-color-header: #242222;
    --font-color: #FFD700;
    --background-color-editor: #4d4d4d;
    --background-color-panel: #363535;
    --font-app: 'Oswald', sans-serif;
    --border-radius: 3px;
    --background-color-hover: rgba(179, 179, 121, 0.467);
    --background-color-slider: rgb(214, 214, 114);
    --vs-background-color: rgba(138, 138, 81, 0.494);
    --background-color-reset-button: #FFD700;
    --color-reset-button: #242222;
    --reset-button-hover: #ffd900a1;
    --boxshadow-focus: 0px 0px 10px 5px #ffd900c7;
}
body.light-theme{
    --background-color-header: rgb(181, 177, 177);
    --font-color: #242222;
    --background-color-editor: #c4c4c4;
    --background-color-panel: #eeeaea;
    --font-app: 'Oswald', sans-serif;
    --border-radius: 3px;
    --background-color-hover: #dcd5d5;
    --background-color-slider: #5e5a5a93;
    --vs-background-color: #b5abab;
    --background-color-reset-button: #242222;
    --color-reset-button: #928a8a;
    --reset-button-hover: #242222b4;
    --boxshadow-focus: 0px 0px 10px 5px #242222e1;
}
/* 
*******************************************************
                        Reset
*******************************************************
*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    font-family: var(--font-app);
}
button, input, select, textarea{
    outline: none;
    border: none;
    color: var(--font-color);
    font-family: var(--font-app);
    background-color: transparent;
    border-radius: var(--border-radius);
}
input[type='number'],
input[type='text'],
input[type='url'],
select,
textarea{
    width: 100%;
    height: 100%;
}
label {
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
    color: var(--font-color);
}
button, input, select{
    cursor: pointer;
}
input[type='text']{
    cursor: initial;
}
button{
    font-size: 18px;
    font-weight: 400;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']{
    width: 100%;
    background-color: var(--background-color-slider);
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin-bottom: 10px;
}
input[type='range']::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--font-color);
}
input[type='checkbox'] {
    margin: 5px 5px 0 0;
}
textarea{
    resize: vertical;
    height: 30px;
    padding: 5px 3px;
    background-color: var(--vs-background-color);
    border-radius: var(--border-radius);
    font-size: 12px;
}
span{
    margin: 0 3px;
}
select > option{
    background-color: var(--background-color-panel);
}
button:hover,
input[type='number']:hover,
input[type='text']:hover,
input[type='url']:hover,
input[type='range']:hover,
input[type='checkbox']:hover,
select:hover,
textarea:hover,
.item-color:hover{
    background-color: var(--background-color-hover);
}
button:focus,
input[type='number']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='range']:focus,
input[type='checkbox']:focus,
select:focus,
textarea:focus{
    box-shadow: var(--boxshadow-focus);
    -webkit-box-shadow: var(--boxshadow-focus);
    -moz-box-shadow: var(--boxshadow-focus);
}
.item-color:focus-within{
    box-shadow: var(--boxshadow-focus);
    -webkit-box-shadow: var(--boxshadow-focus);
    -moz-box-shadow: var(--boxshadow-focus);
}
/* 
*******************************************************
                        Layout
*******************************************************
*/
header{
    display: block;
    padding: 5px;
    background-color: var(--background-color-header);
}
.editor-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-editor);
}
#edit-panel{
    width: 270px;
    height: 100%;
    padding: 5px;
    background-color: var(--background-color-panel);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -1000px;
    overflow-y: scroll;
}
.editor-panel-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.panel-subcontainer{
   width: 100%;
   margin: 5px;
   padding: 10px;
}
/* 
*******************************************************
                        Components
*******************************************************
*/
/* -------Panel control------ */
.control-panel-component{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.control-checkbox{
    display: flex;
    align-items: center;
}
.control-panel-columns{
    display: flex;
    justify-content: space-between;
}
.item-column{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-component{
    height: 30px;
    margin: 2px;
    background-color: var(--vs-background-color);
    border-radius: var(--border-radius);
    font-size: 12px;
}

/* -----Buttons------- */
.header-btn{
    padding: 5px;
    margin: 5px 10px;
}
#download-meme-btn{
    padding: 8px 10px;
    margin: 20px;
    border-radius: var(--border-radius);
    color: white;
    background-color: #2e7d32;
}
#download-meme-btn:hover{
    background-color: #266829;
}
#download-meme-btn:focus{
    box-shadow: 0px 0px 10px 5px #29c731;
    -webkit-box-shadow: 0px 0px 10px 5px #29c731;
    -moz-box-shadow: 0px 0px 10px 5px #29c731;
}
#reset-filters-button{
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    background-color: var(--background-color-reset-button);
    color: var(--color-reset-button);
    font-weight: 400;
}
#reset-filters-button:hover{
    background-color: var(--reset-button-hover);
}
/* 
*******************************************************
                        Elements
*******************************************************
*/
.app-title{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.panel-theme-btns-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.meme-container{
    width: 610px;
    height: 610px;
    background-color: black;
}
.panel-title {
    color: var(--font-color);
    margin-top: 0;
    margin-bottom: 20px;
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.component-title {
    color: var(--font-color);
    margin-bottom: 8px;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 2px;
}
/* image-meme-container */
#image-meme{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}
#meme-top-text{
    position: absolute;
    top: 0;
}
#meme-bottom-text{
    position: absolute;
    bottom: 0;
}
.text-meme{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: black;
}

/* ----------RESPONSIVE----------- */

@media screen and (max-width: 600px){

    header{
        padding: 20px;
    }
    .app-title{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .header-btn{
        margin: 5px;
        padding: 0;
    }
    .editor-container{
        padding: 50px 10px 10px 10px;
    }
    .meme-container{
        width: 100%;
        height: 80%;
    }
    .text-meme{
        padding: 10px;
        font-size: 25px;
        font-weight: 600;
    }
    /* -----Responsive Aside----- */
    #edit-panel{
        width: 100vw;
        padding: 20px;
    }
    .panel-subcontainer{
        padding: 10px 30px;
     }
}